<!DOCTYPE html>
<html>
  <head>
    <title>GlizzLibz City</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>You have entered the city.</h1>
    <p>Learning of your new powers, now you, @Model.Noun man, you have to save the city. The city was full of new creatures. Some looked a lot like a @Model.Noun11. Others could be mistaken for a @Model.Noun12. Your power to @Model.Verb wasn't the only twist. You also recieved decreased @Model.Verb22. Walking the street looking for monsters to conquer, you come across a man who seemed not very dangerous. You stop to talk to him about taxes. Mid conversation he transforms and tries to @Model.Verb23 you. Quickly you retaliate and @Model.Verb24 him. He happened to be one of the top creatures in the city. He ended up telling you where the base was at. The @Model.Noun13. You frantically make your way over there, hoping it's not too late.</p>

  </body>
</html>